/*
*{
    outline: 1px solid red;
}
*/

html {
    scroll-behavior: smooth;
    overflow-x:hidden;
}

ul {
    list-style-type: none;
}

.nav-item a{
    margin: 0 25px;
}

.dropdown-item{
    width: auto;
    margin: 20px 0;
}

.product-section{
    margin: 130px 0;
}

.etiqueta-nombre{
    text-align: center;
}

.etiqueta-precio{
    text-align: left;
    margin-left: 7px;
}

.btn-shop{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.card-body{
    padding: 0;
    
}

.filtro{
    width: 3%;
    margin: 30px 10px;
    padding-right: 15%;
    height: 15%;
}

.filtro div{
    position: absolute;
    width: 14%;
}

.filtro ul li{
    margin: 30px 0;
}

.filtro .sublist li, .filtro .sublist{
    margin: 10px;
    padding: 0;
}

#carouselProduct{
    width: 30%; 
}


.product-info{
    padding-top: 60px;
}

.product-info p{
    margin-top: 40px;
    padding: 7px 30px;
    font-size:  17px;
}

.product-img .img{
    width: auto;
}

.product-details{
    padding: 30px 0;
}

.product-details h2, .product-details hr, .product-comments h2, .product-comments hr{
    margin-left: 50px;
}

.product-details hr, .product-comments hr{
    width: 80%;   
}

.details-list{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.details-list ul li{
    margin: 12px 0;
    list-style: square;
}

.shop-buttons{
    text-align: center;
    position: relative;
    top: -100px;
}

.shop-buttons h3{
    margin: 25px 0;
}

.shop-buttons a{
    margin: 0 15px;
    padding: 9px;   
}

.form-info{
    justify-content: center;
    margin: 15px 0;
}

.form-info div{
    margin: 0 15px;
}

.product-comments {
    display: flex;
    justify-content: center;
}

.form-comment label{
    margin: 0 5px;
}

.sendForm{
    margin: 30px 0;
    padding: 5px;
}

.comments{
    display: flex;
}

.comments ul{
    margin: 0 200px;
    padding: 30px 0;
    text-align: center;
}

.comments li{
    margin-bottom: 50px;
}

.pie li {
    margin: 10px 16px;
}

.separa {
    margin-bottom: 50px;
    margin-left: 75px;
}

.local {
    margin-left: 75px;
    margin-top: -60px;
}

.info-left a {
    margin-right: 225px;
}

.info-right a {
    margin-right: 125px;
}

.separador-navbar {
    margin-left: 85px;
    margin-right: -150px;
}

.flecha-banner i {
    margin-top: 200px;
}

.flecha i {
    margin-top: 75px;
}

.pie {
    position: absolute;
}

.seccion-productos {
    margin-bottom: 50px;
}

.cuadro div {
    position: absolute;
    width: 40%;
    margin-top: -350px;
    margin-left: 10px;
    height: 25%;
}

.info-dentro {
    padding-top: 15px;
    padding-left: 15px;
}

.comen-m {
    margin-left: 15px!important;
}

.product-comments .linea {
    width: 89%;
    margin-left: 15px;
}

.icono-pie {
    margin-left: -75px!important;
}

.loguearse h2, .boton-loguearse {
    margin-left: 200px;
}

.boton-suscribirse {
    margin-left: 150px;
}

.salir-perfil {
    margin-left: 850px;
    margin-top: -75px;
}

.insertImg{
    margin: 100px;
}

/*_____-----SKIN-----_____*/
body{
    background: #ffffff;  /* fallback for old browsers */
  
    /*background: linear-gradient(to bottom, #8c8c8c, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar, .dropdown-menu{
    background-color: rgba(36, 35, 35, 0.987);
}

.navbar-dark .navbar-toggler-icon{
    animation: menu-square 1.3s;
    animation-iteration-count: infinite;
}

.navbar-dark .navbar-nav .active .nav-link{
    color: rgb(255, 255, 255) ;
    text-shadow: 1px -4px 4px rgba(247, 112, 8, 0.994), 1px -8px 3px rgb(0, 0, 0);

    border: 1px  solid rgba(243, 247, 8, 0.994) ;
    border-radius: 10%;
    border-top: 0;

    box-shadow:  0px -1px 5px rgba(243, 247, 8, 0.481), 0px -5px 20px rgb(0, 0, 0);

    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-dark .navbar-nav .nav-link, .dropdown-item{
    color: rgb(170, 223, 252) ;
    text-shadow: 1px -4px 4px rgb(40, 8, 247), 1px -8px 5px rgb(0, 0, 0);
}

.gradiente-nav {
    background-image: linear-gradient( rgba(255,0,0,0), #020202) !important;
}

.gradiente-info {
    background-image: linear-gradient( #a80000, rgba(255,0,0,0) 20%) !important;
}

.carousel-indicators .active {
    border-radius: 100%;
    width: 13px;
    height: 10px;

    margin: 0 10px;

    border: 2px solid yellow;

    background-color: rgba(255, 255, 255, 0);
}

.carousel-indicators li{
  
    border-radius: 100%;
    width: 8px;
    height: 8px;

    margin: 0 10px;

    border: 2px solid rgb(255, 255, 255);

    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
    
}

.carousel-control-prev, .carousel-control-next{
    font-size: 30px;
    color: rgb(255, 255, 255);

    bottom: auto;
    top: 30px;

}

.vertical {
    border-left: 2px solid black;
    height: 575px;
    position:absolute;
    left: 50%;
    bottom: -13%;
}

.carousel-products .carousel-control-next{
    font-size: 45px;
    color: rgb(119, 0, 255);
}

.carousel-products .carousel-control-prev{
    font-size: 45px;
    color: rgb(119, 0, 255);
}

h1, .contacto-h2 h2, .loguearse h2 {
    margin-right: 200px;
    color: rgb(119, 0, 255)!important;
    font-family:'Source Sans Pro', sans-serif !important;
}

.perfil h3, .perfil p {
    font-family:'Source Sans Pro', sans-serif !important;
}

.perfil h3 {
    color: rgb(119, 0, 255)!important;
}


.info-left p {
    margin-left: 30px;
    width: 45%;

}

.info-right p {
    margin-left: 20px;
    width: 60%;
}

.info-right p, .info-left p {
    font-style: italic;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 1.2rem;
}

.info-right a, .info-left a {
    color: red;
}

.product-section hr, .linea {
    color: #a80000!important;
    border-top: 2px solid!important;
}

.cuadro div {
    background-color: white;   
}

.contenedor-contacto {
    background-color:  rgb(70, 70, 70);
}

.card-body a {
    color: white;
}

.li-left {
    color: rgb(119, 0, 255);
}

.separador {
    border-bottom: 6px solid rgba(36, 36, 36, 0.302);
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;

    animation: sombra-section 9s;
    animation-iteration-count: infinite;

    background-color: rgb(243, 243, 243);

}

.bd-section{
    padding-bottom: 5%;
    border-bottom: 6px solid rgba(36, 36, 36, 0.302);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.card{
    border-top: 1px solid rgb(0, 17, 255);
    border-left: 1px solid rgb(0, 17, 255);
    border-right: 1px solid rgb(0, 17, 255);
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(70, 70, 70) 100%);
}

.card-body{
    border:1px solid black;
    background-color: rgba(33, 77, 255, 0.316);
    box-shadow: 0px -3px 9px black;

    color: white;
}

.btn-shop  i{
    font-size: 27px;
    color: white;
}

.info-dentro h4 {
    color: rgb(119, 0, 255)!important;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.info-dentro p {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.filtro div{
    border: none;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(147,147,147,0.5) 15%, rgba(147,147,147,0.5) 50%, rgba(147,147,147,0.5) 85%, rgba(255,255,255,1) 100%);
}

.filtro ul a{
    color: black;
    font-size: 17px;
    text-shadow: 4px 1px 9px purple;
}

.filtro .sublist a{
    text-decoration: none;
    font-size: 15px;
}

.filtro ul .activeFilter a{
    color: yellow;
}

.filtro .filterClean a{
    color: rgb(255, 255, 255);
    text-shadow: 3px 1px 6px rgb(255, 0, 0);
}

.product-info, .product-details, .product-comments{
    /*background: rgb(140,140,140);
    background: linear-gradient(54deg, rgba(140,140,140,1) 0%, rgba(45,45,45,1) 100%);*/

    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e9c, #3a6186b6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #892525c6, #3a6186c1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.product-info hr {
    background-color: white;
    margin-left: 10px;
}

.product-info h1, .product-details h2, .product-comments h2{
    text-shadow: 4px 1px 9px black;
}

.product-details hr, .product-comments hr  {
    background-color: white;
}

.details-list ul li{
    font-size: 18px;
}

.shop-buttons a, .sendForm{
    color: white;
    text-shadow: 0px -2px 7px black;

    font-size: 23px;
    background-color: rgba(96, 127, 253, 0.604);

    border-radius: 15px;
    box-shadow: 0px -2px 7px black;

    transition: 0.5s;
}

.comments li{
    font-size: 18px;
}

.points {
    font-size: 150px;
    margin-top: -25px!important;
    margin-left: 175px;
}

.comen-muestra {
    margin-top: 25px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 40px 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.pie {
    background-color: black;
}

.redes i{
    font-size: 30px;
    color: white;
}

.action-link {
    margin: 0;
}

.action-link{
    text-align: center;
}

.action-link a{
    margin: 0 9px;
}

.camposDinamicos div{
    background: none;
    position: static;
    margin: 20px 0;
    width: 90%;
}

/*_____-----PSEUDOCLASES-----_____*/

.navbar-dark .navbar-nav .nav-link:hover{
    transition: 0.5s;
    color: rgb(250, 250, 250) ;
    text-shadow: 1px -5px 4px rgb(8, 247, 48), 1px -8px 5px rgb(0, 0, 0);
    border: 1px  solid rgb(8, 247, 48) ;
    border-radius: 10%;
    border-top: 0;

    box-shadow:  0px -1px 5px rgba(8, 247, 48, 0.487), 0px -5px 20px rgb(0, 0, 0);
    
}

.dropdown-item:hover{
    transition: 0.5s;
    color: rgb(250, 250, 250) ;
    text-shadow: 1px -5px 4px rgb(8, 247, 48), 1px -8px 5px rgb(0, 0, 0);
    border-left: 1px  solid rgb(8, 247, 48) ;
    background-color: transparent;
}

.carousel-control-prev:hover, .carousel-control-next:hover{
    transition: 0.5s;
    font-size: 35px;

    color: yellow;

    bottom: auto;
    top: 30px;
}

.index-product.card:hover{
    border-top: 1px solid yellow;
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
}

.index-product.card:hover .card-body{
    box-shadow: 0px -3px 7px yellow;
}

.carousel-products .carousel-control-prev:hover , .carousel-products .carousel-control-next:hover{
    font-size: 45px;
    color: rgb(242, 255, 0);
}

.filtro .sublist a:hover{
    color: yellow;
}

.btn-shop i:hover{
    color: yellow;
    animation: shop-rotation 0.8s infinite;
}

.shop-buttons a:hover, .sendForm:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0px -1px 3px rgb(255, 0, 0);

    background-color: rgba(255, 247, 0, 0.933);
    box-shadow: 0px -1px 5px rgb(87, 87, 87);

}

.redes i:hover{
    animation: redes 0.7s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 4px rgba(255, 165, 0, 0.21), 0 0 15px rgba(255, 0, 0, 0.62);
}
/*_____-----KEYFRAME-----_____*/

@keyframes menu-square{
    0%, 100%{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28237, 12, 0, 93%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    15%{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28214, 11, 0, 84%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    30%{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28173, 9, 0, 68%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    45%{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28122, 6, 0, 48%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    60%{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28173, 9, 0, 68%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    75%{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28214, 11, 0, 84%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

}

@keyframes sombra-section {

    0%,
    100% {
        box-shadow: 5px 20px 10px rgba(255, 137, 0, 0.36), 5px 20px 50px rgba(255, 0, 0, 0.28);
    }

    10% {
        box-shadow: 5px 20px 10px rgba(255, 29, 0, 0.36), 5px 20px 50px rgba(255, 0, 0, 0.28);
    }

    20% {
        box-shadow: 5px 20px 10px rgba(255, 0, 147, 0.36), 5px 20px 50px rgba(255, 0, 147, 0.28);
    }

    30% {
        box-shadow: 5px 20px 10px rgba(0, 0, 255, 0.36), 5px 20px 50px rgba(0, 0, 255, 0.28);
    }

    40% {
        box-shadow: 5px 20px 10px rgba(0, 255, 226, 0.36), 5px 20px 50px rgba(0, 255, 226, 0.28);
    }

    50% {
        box-shadow: 5px 20px 10px rgba(0, 255, 39, 0.36), 5px 20px 50px rgba(0, 255, 39, 0.28);
    }

    60% {
        box-shadow: 5px 20px 10px rgba(177, 255, 0, 0.36), 5px 20px 50px rgba(177, 255, 0, 0.28);
    }

    70% {
        box-shadow: 5px 20px 10px rgba(235, 255, 0, 0.36), 5px 20px 50px rgba(235, 255, 0, 0.28);
    }

    80% {
        box-shadow: 5px 20px 10px rgba(255, 235, 0, 0.36), 5px 20px 50px rgba(255, 235, 0, 0.28);
    }

    90% {
        box-shadow: 5px 20px 10px rgba(255, 186, 0, 0.36), 5px 20px 50px rgba(255, 186, 0, 0.28);
    }
  
}

@keyframes shop-rotation{
    0%, 100%{
        transform: rotate(20deg);
    }

    50%{
        transform: rotate(-20deg);
    }
}

@keyframes redes {

    0%,
    100% {
        background-image: radial-gradient(red 10%, white 5%, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    20% {
        background-image: radial-gradient(red 20%, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    40% {
        background-image: radial-gradient(red 40%, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    60% {
        background-image: radial-gradient(red 60%, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background-image: linear-gradient(red 100%, rgba(255, 255, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/*_____-----MEDIAQUERIES-----_____*/

@media (min-width: 576px){
    .navbar-nav {
    margin-left: 15%;
    justify-content: space-around;
    width: 60%;
    }

    #carouselBanners img{
        height: 500px;
    }

    .index-product{
        
        margin: 30px 38px;
        padding: 0;
    }
    
    .carousel-inner .carousel-item .index-product img{
        height: 210px;
    }

    .row-cols-4 > *{
        flex: 0 0 18%;
    }

    .carousel-products .carousel-control-next{
        font-size: 40px;
        top: 70px;
        right: -110px;
    }
    
    .carousel-products .carousel-control-prev{
        font-size: 40px;
        top: 70px;
        left: -110px;
    }

    .carousel-products .carousel-control-prev:hover , .carousel-products .carousel-control-next:hover{
        font-size: 40px;
        color: rgb(242, 255, 0);
    
        top: 70px;
        right: -110px;
    }

}